language: csharp
solution: smartobjects-net-client.sln
mono:
- latest
- 4.4.2
install:
- nuget restore smartobjects-net-client.sln
- nuget install NUnit.Runners -OutputDirectory testrunner
script: "./build.sh"
env:
  global:
  - secure: EHu/lzGSVMQW6jcoHaTYZwU0jz1C18nUzKzgPsH/ngo50dSYoNMMPI9vMvURdQQa7QG/7yQ6C6eD436GGLjBvbYatDxSrQfnxiTxFePhqyJfsO5ZMvPZxERLhN0VO2KtpoH6k55bPU2LUPVcrtNi+d8TpgpEO7rGdC8lktaT5K8CuGrcZGr63hPn7JM9vP6fw6hdMheg7H4AImcmYaCk5RwVPWdu1PGhGwhWZ+J0g2MEDqL2/AVrhYppC8lqMzRHpiA8CPjvZ4EJiXnh3NnBwyd1pQ3yUQ5OVH69s3uFuWYMpO2aQiH8se/LVeBBJqEeYOHLjPl2i54ImYTixiBT51Q4X/+z3oAqhMXkss0svArHFS51c+fvNXbzPdnqEnqK781bAer45LL7MWDpztose3fjPXsJ7iljny+YVlhcb7T0T7evmbfBnAoYqiH3ikDlgKo4PFsgS7vb0Ca8axFYhtKJKkf8V4QelkTUYV0c2NHWFnsFUJQYvEVH3kxztMXO/f7/qG3UG7HVI/Pv85SLczFxGP/aGISNE9tKzUuCm/HHjEndA/YK2Puje+eFyf737xYFpItyQ8CNou0f/YiDDWOtV3FUKe3oz0dpC4rS0fdbvdMaj+Gls5V7ggE2e1/siBW+X8k40XNw3BfeokSgRs5n0wvun5wwFDkEcJyeKnY=
  - secure: RJIQ+3C6OO0rTXgEqL3T3i/1Suz4WfWtTsB2M2j1N8cvmHxGoR3/7YOCspjlX6JzUdTUJgM3GWroSIaj3a5TrWxhfxHS/t6ubzs8/TPoeo0r+8I722l0/f127PqRebsrbP4poEMgdjmkHuMwRKq/b3fNYp31Ukx5rRQz7xORnRWS7BDhiiKxvDbeuKKGUPEgJNF358JMUASIrdCVZBew05fWqH9EXKHsD+EZnQLuppUJ3aeMEtbiHoaJpZaIb1K/d4ZpkmqlrnWZJg+NS9D0Y9PjJAsBv7PXGTAIFbkeI58MWdWxz0S27TWiHLfsBSrz+eWE71ZTZ1V2wNhAueffhD85aZzcEvmwEGTetXRVUjjnL6v5x+BAPKLvY29hT4PkaWOav8zsHGFpVe88AGRxjZZI8KaSrpfidF1l70edkkjPGyVeD768ICyh3nmnQj6PDp0pQhRVTehjAx3QWCVIeNN7iYMfgN+37kXW/M9L5HuP9XE2rgt2fzsNOVxQuwgoDizveDLHPYnN8Bf21qL2/K9oqwbS0zj4ul5znPxAqtT4/kHkKGsEwox7d3KRi2Q5n9+mzv00LUYVQfq9Vc2/sR65EzewpmvJH5uvenN5ci7e+ZWTgDqhK5vWOG6Fteh/22kW+hNIX9oUAC5yK/8K7KUgmT1oOJog+V16GXRMj3o=
