<h3>Get the client library</h3>
<p>The client library is available on <a href="https://www.nuget.org/packages/Mnubo.SmartObjects.Client">nuget</a>.</p>

<p>You can get started quickly with Package Manager or the .NET CLI:</p>
<pre>
    <code>
Install-Package Mnubo.SmartObjects.Client -Version 1.4.1 # Package Manager
dotnet add package Mnubo.SmartObjects.Client --version 1.4.1 # .NET CLI
    </code>
</pre>

<p>Learn more on: <a href="https://github.com/mnubo/smartobjects-net-client">GitHub</a>.</p>

<h3>Create a client instance</h3>

<p>To create an instance, you need the following:</p>

<pre>
        <code>
using Mnubo.SmartObjects.Client.Config;
using Mnubo.SmartObjects.Client.Impl;
    </code>
</pre>

<p>After that, you can create the client:</p>

<pre>
    <code>
ClientConfig config = new ClientConfig.Builder() {
    Hostname = "<%= hostname %>",
    ConsumerKey = "<%= clientKey %>",
    ConsumerSecret = "<%= clientSecret %>"
};

var client = ClientFactory.Create(config);

    </code>
</pre>