<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mnubo.SmartObjects.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Mnubo.SmartObjects.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Mnubo.SmartObjects.Client.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>Mnubo's host server</value>
            </setting>
            <setting name="ConsumerKey" serializeAs="String">
                <value>Unique identity key provided by mnubo.</value>
            </setting>
            <setting name="ConsumerSecret" serializeAs="String">
                <value>Unique secret key provided by mnubo.</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </Mnubo.SmartObjects.Client.Properties.Settings>
        <Mnubo.SmartObjects.Client.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>Mnubo's hostname server</value>
            </setting>
            <setting name="ConsumerKey" serializeAs="String">
                <value>Unique identity key provided by mnubo.</value>
            </setting>
            <setting name="ConsumerSecret" serializeAs="String">
                <value />
            </setting>
        </Mnubo.SmartObjects.Client.Properties.Settings>
    </applicationSettings>
</configuration>